---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,200,300,400,500,700,800,900&f[]=satoshi@100,200,300,400,500,700,800,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1 class="text-3xl font-bold underline">@thibautlfr - Portfolio</h1>
    <p>test</p>
  </body>
</html>
