---
import "../styles/global.css";
import IconCube from "@components/icons/IconCube.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,200,300,400,500,700,800,900&f[]=satoshi@100,200,300,400,500,700,800,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="p-4 flex flex-col w-dvw h-dvh overflow-hidden">
    <h1 class="text-3xl font-extrabold flex items-center">
      <IconCube size={30} />/thibautlfr
    </h1>
    <h2 class="text-xl">
      full-stack and passionate creative <span class="italic underline"
        >developer</span
      >
    </h2>
    <p class="mt-auto">work in progress...</p>
  </body>
</html>
