---
import "../styles/global.css";
import IconCube from "@components/icons/IconCube.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2 class="text-xl">
    full-stack and passionate creative <span class="italic underline"
      >developer</span
    >
  </h2>
  <p class="mt-auto">work in progress...</p>
</BaseLayout>
