---
import IconCube from "@components/icons/IconCube.astro";
import Menu from "@components/Menu.astro";
---

<div class="flex items-center justify-between mb-4 select-none">
  <h1 class="text-3xl font-bold flex items-center leading-none">
    <IconCube size={30} />/thibautlfr
  </h1>
  <Menu />
</div>
