---
import IconCube from "@components/icons/IconCube.astro";
import Menu from "@components/Menu.astro";

const slug = Astro.url.pathname.replace(/\/$/, "/home");
---

<header
  class="sticky top-0 z-30 flex items-center justify-between px-6 md:px-10 lg:px-16 py-6 select-none bg-white"
>
  <a
    href="/"
    class="text-xl md:text-3xl font-bold flex items-center leading-none"
  >
    <IconCube class="size-5 md:size-7.5" />/thibautlfr{slug}
  </a>
  <Menu />
</header>
