---
interface Props {
  headings: { depth: number; slug: string; text: string }[];
}

const { headings } = Astro.props;
const toc = headings;
---

{
  toc.length > 0 && (
    <aside class="order-1 mb-8 border-b pb-6 lg:order-last lg:mb-0 lg:shrink-0 lg:border-b-0 lg:border-l lg:pb-0 lg:pl-6">
      <nav aria-label="Table des matières" class="lg:sticky lg:top-30">
        <h2 class="text-sm font-semibold tracking-wide uppercase">Sommaire</h2>
        <ol class="mt-3 space-y-1.5 text-sm">
          {toc.map((heading) => (
            <li class={heading.depth === 3 ? "pl-4" : ""}>
              <a
                href={`#${heading.slug}`}
                class="text-neutral-500 transition-colors hover:md:hover:text-teal-600"
              >
                {heading.text}
              </a>
            </li>
          ))}
        </ol>
      </nav>
    </aside>
  )
}
